################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DockerAKSWebApp/.vs
/DockerAKSWebApp/DockerAKSWebApp/obj/Debug/net8.0
/DockerAKSWebApp/DockerAKSWebApp/bin/Debug/net8.0
