apiVersion: apps/v1
kind: Deployment
metadata:
  name: dockerapp
spec:
  replicas: 1
  selector:
    matchLabels:
      app: dockerapp
  template:
    metadata:
      labels:
        app: dockerapp
    spec:
      containers:
      - name: dockerapp
        image: $ACR_LOGIN_SERVER/$IMAGE_NAME:$TAG
        ports:
        - containerPort: 80

